// ────────────── Startup Applications ──────────────
    // Запуск графической оболочки Noctalia
    spawn-sh-at-startup "qs -c noctalia-shell"
    
    // БЛОКИРОВКА ЭКРАНА ПРИ СТАРТЕ
    spawn-sh-at-startup "bash -c 'sleep 1 && qs -c noctalia-shell ipc call lockScreen lock'"

    spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
    spawn-sh-at-startup "wl-paste --type image --watch cliphist store"

